	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		font-size: 14px;
		font-family: 'Ubuntu', sans-serif;
		color: #4F5155;
		margin-top: 50px;
	}
	h2 {
		line-height: 60px;
		font-size: 12px;
	}
	.graybox{
		width: 100%;
		background: #4c4c4c;
		padding: 35px;
	}
	.graybox a{
		color: #fff;
	}
	#container{
		/*margin-top: 250px;*/
		margin-bottom: 50px;
		text-align: justify;
	}
	.head {
		background: #ccc;
	}
	.social {
		list-style: none;
	}
	.social li {
		float: left;
		margin-left: 15px;
	}
	.logo img {
		max-width: 120px;
	}
	.navbar-brand {
      padding: 0 15px;
    }
    .filterMatches{
    background-color: #D0F5A9;
}