application/config/database.php
application/config/database.php.25
application/config/database.php.produccion
application/controllers/generarpdf.php.25
application/controllers/generarpdf.php.produccion
application/controllers/qr.php.25
application/controllers/qr.php.produccion
uploads/

# Created by http://www.gitignore.io

### CodeIgniter ###
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
# |
# | .gitignore
# | :::::::::::::::::::::::::::
*.pdf
*.txt
*.TXT
*.dat
# |
# | Images
# | :::::::::::::::::::::::::::
# *.gif
# *.jpg
# *.png
# |
# | Media
# | :::::::::::::::::::::::::::
*.flv
*.FLV
*.mp4
*.mp3
*.wmv
*.mpeg
# |
# | System
# | :::::::::::::::::::::::::::
*.bat
*.ini
*.run
*.sh
*.dll
*.sh
*.bat
# |
# | Office
# | :::::::::::::::::::::::::::
*.doc
*.xls
*.docx
*.xlsx
# |
# | Executable
# | :::::::::::::::::::::::::::
*.msi
*.exe
# |
# | Databases
# | ::::::::::::::::::::::::::
*.dbf
*.sql
# |
# | Compress
# | :::::::::::::::::::::::::::
*.zip
*.rar
*.tar
*.tar.gz
# |
# | Temp
# | :::::::::::::::::::::::::::
**/temp/**/*
*/temp/**/*
./**/temp/**/*
/**/temp/*
/**/temp/**/*
/./**/temp/**/*
temp/*
temp/**/*
# |
# | Others
# | :::::::::::::::::::::::::::
*.afm
*.afp
*.ascx
*.asp
*.aspx
*.cfc
*.cfm
*.cgi
*.class
*.crt
*.csv
*.db
*.eot
*.fdf
*.gz
*.htc
*.inc
*.lasso
*.LGPL
*.map
*.pl
*.psd
*.py
*.sample
*.ser
*.skel
*.svg
*.ttf
*.ufm
*.woff
*.xcf
*.xml
*.xsl
*.z
